{% extends 'base.html' %}

{% block content %}
<!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Ghanaian Authentic Kente Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">The Best Ashanti Kente Cloth</p>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">
                        Lorem ipsum odor amet, consectetuer adipiscing elit. Potenti quisque per netus at bibendum venenatis. 
                        Semper iaculis egestas tristique tempor habitant, curae proin venenatis proin! Pulvinar himenaeos ad tincidunt senectus mi. 
                        Ligula pulvinar bibendum elit felis semper platea. Neque fames ad vehicula litora sociosqu est proin risus rhoncus. 
                        Cursus tortor penatibus auctor sagittis ante odio platea. Fusce scelerisque morbi urna ridiculus maximus vivamus. 
                        Nam ut felis nulla ultricies cubilia ex nisi.

                        <br/><br/>
                        Odio tristique a lorem mus praesent suscipit posuere tristique. Augue morbi blandit, ipsum finibus ante mollis. 
                        Sociosqu auctor amet nisl hac ornare sapien sit mollis fermentum. Imperdiet ipsum interdum lobortis porta ligula hendrerit 
                        integer rutrum primis. Hac augue montes libero efficitur efficitur quam massa urna. Consectetur lobortis natoque integer 
                        mauris suscipit arcu platea. Mus velit suscipit euismod mi arcu facilisi in malesuada. Ex nam lacinia turpis vestibulum 
                        id dignissim at hendrerit.

                        <br/><br/>
                        Tempus a per class accumsan condimentum est. Rhoncus interdum ante nostra et congue nascetur tellus odio consectetur. 
                        Habitasse elit metus dui non dolor taciti finibus. Cras nisl velit vitae lacinia nam id quisque. Consequat varius purus 
                        arcu arcu maximus aptent urna in. Arcu metus lectus venenatis donec condimentum odio fames hac eu. Mattis suscipit duis mus 
                        aliquam dis malesuada. Congue viverra urna bibendum dolor magnis. Egestas montes morbi quis bibendum ad potenti massa dis. 
                        Sociosqu hendrerit netus euismod netus molestie.

                        <br/><br/>
                        Pretium hendrerit dictumst suspendisse taciti senectus dui in. Pharetra class semper fermentum lectus purus, 
                        lacus viverra dis. Euismod laoreet a cursus senectus nisl urna finibus auctor varius. Finibus massa himenaeos 
                        volutpat et pretium condimentum dictum ridiculus hac. Interdum quisque massa condimentum eros suspendisse. 
                        Convallis parturient tellus nisi porttitor ultrices mi amet maximus dapibus. Fames cursus sagittis lacinia dapibus justo; 
                        pulvinar curae.
                    </p>
                    <br/><br/>
                </div>
            </center>
        </div>
    </div>

{% endblock %}